* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
     --primary-color: #EBE7E7;
     --secondary-color: #6B1294;
     --color-secondary: #cf8ceea9;
     --secondary-color-hover: #611186;
     --text-color: #0F0F0F;
     --stroker: #6b6b6b;
     --hover-roxo: #e09eff96;
     --corBranca: #FFFFFF;
     
}

body {
    background-color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;
}

main {
    padding: 30px 130px 17px 130px;
}

/* HEADERR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem; /* 120px */
    padding: 0 0;
    background-color: var(--primary-color);
    border-bottom: 0.0625rem solid #8C8B8B; /* 1px */
}

.usuario p {
    font-family: 'roboto', sans-serif;
    font-size: 0.9375rem; /* 15px */
    color: #4D4A4A;
    margin-top: 3px;
}

.nav-buttons {
    display: flex;
    gap: 1.0625rem; /* 17px */
    align-items: center;
    margin-left: 16.75rem; /* 268px */
}

.nav-button {
    padding: 0.625rem 0.875rem; /* 10px 14px */
    border-radius: 1.25rem; /* 20px */
    border: 0.0625rem solid var(--secondary-color); /* 1px */
    background-color: transparent;
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s;
}

.nav-button.active {
    background-color: var(--secondary-color);
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    color: var(--corBranca);
}

.notificacao {
    width: 1.791875rem; /* 28.67px */
    height: 2.09375rem; /* 33.5px */
    margin-right: 6.25rem; /* 100px */
    margin-left: 2.125rem; /* 34px */
    margin-top: 5px;
}


.usuario {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* 15px */
}

.usuario img {
    width: 3.8125rem; /* 61px */
    height: 3.8125rem; /* 61px */
    border-radius: 100%;
    margin-left: 6.6875rem; /* 107px */
}

.usuario h1 {
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    margin-top: 1rem; /* 16px */
}

/* HEADERR FIM*/



/* section superior*/

.section-superior  {
    display:grid;
    grid-template-columns: 50% 1fr;
}

.section-superior-esquerda h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 3px;
}
.section-superior-direita h2 {
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 57px;
    justify-content: flex-end;
}


.section-superior-esquerda p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4D4A4A;
    margin-left: 5px;
    margin-bottom: 25px;
}

.cards-esquerda {
    display: flex;
    gap: 22px;
}

.card-justificativa {
    display: flex;
    align-items: center;
    width: 275px;
    height: 130px;
    gap: 15px;
    background-color: transparent;
    border: 2px solid #A19B9B;
    border-radius: 20px;
    cursor: pointer;
}

.card-justificativa-conteudo {
    display: flex;
    flex-direction: column;
}

.card-justificativa-conteudo-topo {
    display: flex; 
    align-items: center;
}

.card-justificativa-imagem
 {
    width: 54px;          
    height: 60px;
    margin-top: 15px;
    margin-left: 11px;
}

.card-ajuste {
    display: flex;
    width: 240px;
    height: 130px;
    background-color: transparent;
    border: 2px solid #A19B9B;
    border-radius: 20px;
    cursor: pointer;
}

.card-ajuste-imagem
 {
    width: 54px;          
    height: 60px;
    margin-top: 2px;
    margin-left: 15px;
}


.card-ajuste-conteudo {
    display:flex;
    flex-direction: column;
}

.card-ajuste-conteudo-topo {
    display: flex;
}

.card-justificativa h3, .card-ajuste h3 {
    font-family:'Noto sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color:  var(--secondary-color);
    margin-top: 14px
}

.card-justificativa p {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #4D4A4A;
    width: 200px;
    margin-left: 25px;
}

.card-ajuste p {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #4D4A4A;
    width: 170px;
    margin-left: 25px;
}


.cards-direita {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
}

.card-status {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 150px;
    height: 130px;
    border: 2px solid #A19B9B;
    border-radius: 20px;
    text-align: center;
}

.card-status h3 {
    font-family: 'Noto sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4D4A4A;
    margin-bottom: 15px;

} 

.status-numero {
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #4D4A4A;
    text-align: left;
    margin-left: 27px;
}

/* section superior FIM*/


.titulo-h2{
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 22px;
    color: var(--text-color);
}

/* Tabela*/


.tabela {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.icone {
    width: 1px;
    cursor:pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabela thead {
    background-color: #B485CA;
    color: #4D4A4A;
}

.tabela th {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}
.tabela td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
    border-bottom: 1px solid #BCBABA;
}

.primeira-th {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.tabela div{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.dia-card {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-left: -20px;
}


.status {
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
}

.status.aprovado {
    padding: 0px 40px 1px 40px;
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    color: #47763B;
    border: 1px solid #47763B;
    border-radius: 20px;

}

.status.analise {
    padding: 0px 39px 1px 39px;
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    color: #B1621D;
    border: 1px solid #B1621D;
    text-align: center;

}

.status.recusado {
    padding: 0px 40px 1px 40px;
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;   
    color: #B22A2A;
    border: 1px solid #B22A2A;
}

.ultima-td {
    display:flex;
}

/* Tabela FIM */

/* Section Acompanhamento */

.titulo-h3{

    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--text-color);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acompanhamento {
    display: flex;
    width: 33.3% 33.3% 33.3%;
    justify-content: space-between;
    gap: 20px;
}

.cards {
    display: flex;
    width: fit-content;
    background-color: transparent;
    border: 2px solid #A19B9B;
    border-radius: 20px;
    padding: 10px 23px;
}

.comprovante {
    margin-right: 15px;
}

.cards-info h3 {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.cards-info .data {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-size: 15px;
    color: #545970;
    margin-top: 30px;
}

/* Section Acompanhamento Fim */